@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #4A5759;
    color: #fefae0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1 {
    color: #EDAFB8;
}

.quoteCard {
    background-color: #B0C4B1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 8px;
    margin: 15px;
    border-radius: 5px;
    height: 300px;
}

.quoteCardText {
    padding: 1rem;
    background-color: #B0C4B1;
}

#promptTypeTitle {
    color: #283618;
    font-weight: 800px;
    padding: 8px;
    background-color: #B0C4B1;
}

#quoteField {
    background-color: beige;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 90px;
    color: #283618;

}

.quoteCardButtons {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: #B0C4B1;
}

#promptSelect {
    flex-grow: 4;
}

#buttons {
    margin: 5px;
    display: flex;
    justify-content: right;
    gap: 5px;
}

