@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #4A5759;
    color: #fefae0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.gen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: auto;
}

h1 {
    color: #EDAFB8;
}

.quoteCard {
    background-color: #B0C4B1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 8px;
    margin: 15px;
    border-radius: 3px;
    height: 300px;
}

#promptBox {
    background-color: blanchedalmond;
    color: #283618;
}

#quoteBox{
    background-color: beige;
    padding: 10px;
    margin: 10px;
    width: 300px;
    color: #283618;

}